@import "../pages/homepage/homepage.scss";
@import "../components/locationmap/locationmap.scss";

.info-modal {
  p.footnote {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
  table {
    border: 2px solid black;
    tr, th, td {
      border: 2px solid black;
    }
    th {
      text-align: left;
    }
  }
}